{% for service in services %}
    <div>
        <div class="uk-card uk-card-default uk-card-body order-form__service-card">
            <h3 class="uk-card-title">{{ service.name }}</h3>
            <p>{{ service.price }} {{service.currency }}</p>
            <div class="order-form__text">
                Add to order
                {% include 'orders/order_form_service_input.html' %}
            </div>
        </div>
    </div>
{% endfor %}