{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class="uk-section uk-section-muted uk-flex uk-flex-middle" uk-height-viewport>
		<div class="uk-width-1-1">
			<div class="uk-container">
				<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
					<div class="uk-width-1-1@m">
						<div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
							{% if form.errors %}
								<div class="uk-alert-danger" uk-alert>
									<p>Your username or password is incorrect</p>
								</div>
							{% endif %}
							<form action="{% url 'login' %}" method="POST">
								{% csrf_token %}
								{% for field in form %}
									<div class="uk-margin">
										<div class="uk-inline uk-width-1-1">
											<input class="uk-input uk-form-large" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.name }}">
										</div>
									</div>
								{% endfor %}
								<div class="uk-margin">
									<button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">login</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}