{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            osv
        {% endblock title %}
    </title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'uikit/dist/css/uikit.min.css'%}"/>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% endblock styles %}
</head>
<body class="h-100">
    {% block header %}
        {% if user.is_authenticated %}
            {% include 'navigation.html' %}
        {% endif %}
    {% endblock %}

    {% include 'noscript.html' %}

    {% block content %}{% endblock content %}

    {% block scripts %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'uikit/dist/js/uikit.min.js' %}"></script>
        <script src="{% static 'uikit/dist/js/uikit-icons.min.js' %}"></script>
    {% endblock scripts %}
</body>
</html>