<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="navbar uk-navbar uk-navbar-container">
        <div class="uk-navbar-right uk-margin-right">
            <ul class="navbar-nav uk-navbar-nav">
                <li><a href="{% url 'logout' %}"><span uk-icon="sign-out"></span></a></li>
            </ul>
        </div>
    </nav>
</div>